* {
    box-sizing: border-box;
}

#calcbody {
    border: 1px solid black;
    width: 360px;
    height: 350px;
    border-radius: 5%;
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#calcbodytop {
    border: 1px solid black;
    height: 60px;
    width: 340px;
    background-color: rgb(206, 205, 205);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcbodybottom {
    border: 1px solid black;
    height: 260px;
    width: 340px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    height: 50px;
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: flex-end
}

#digits {
    height: 260px;
    width: 205px;
    margin-right: 5px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid black; */
}

#operators {
    height: 260px;
    width: 135px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

#digit {
    border: 1px solid rgb(44, 39, 39);
    height: 50px;
    width: 55px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

#digits #digit {
    background-color: rgb(240, 180, 119);
}

#operators #digit {
    background-color: rgb(129, 220, 251);
}

#digit:nth-child(10) {
    order: 10;
}

#digit:nth-child(11),
#digit:nth-child(12) {
    visibility: hidden;
}

#operators #digit:nth-child(2) {
    visibility: hidden;
}

#digit span {
    font-weight: bold;
}

#operators #digit span {
    font-size: larger;
}

#digit:hover {
    filter: brightness(80%);
}

#screen span {
    font-weight: bold;
    font-size: 30px;
}

.pressedOper {
    filter: brightness(80%);
}